In [51]:
import tweepy 
import pandas as pd

##### Set the Twitter credentials

In [52]:
consumer_key= "dqOPlo8TYO2Bo6P4Uo5sAkmes"
consumer_secret= "3TUe2RlqY5BT6LnvtUAA0Kf1mPO8k7MH3ZLxxELcsj7OxG8doh"
access_token= "2585433478-GoThRI4yGSKJX3tO8GX2onBsVdZ9EyPP1uL7dSi"
access_token_secret= "WBHrZjnz8lDrKAlLpF0uNKMydws4iodCuWUtHwdqmYoq1"

##### Authentication with Twitter API

In [53]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

##### Create API Object

In [54]:
api = tweepy.API(auth)

In [76]:
username = 'nabizada2_sahar'

In [77]:
all_tweets = []

In [78]:
#fetch tweets 
for tweet in tweepy.Cursor(api.user_timeline, screen_name=username, tweet_mode = 'extended').items():
    all_tweets.append(tweet)

In [79]:

# # Define the start and end dates for tweet retrieval
# start_date = "2021-12-01"
# end_date = "2023-03-28"
# # Fetch tweets within the specified date range
# all_tweets = []
# for tweet in tweepy.Cursor(api.user_timeline, screen_name=username, tweet_mode="extended",
#                            since=start_date, until=end_date).items():
#     all_tweets.append(tweet)

In [80]:
# convert the list of tweets to pandas DataFrame
df = pd.DataFrame({
    'text': [tweet.full_text for tweet in all_tweets],
    'name': [tweet.user.screen_name for tweet in all_tweets],
    'created_at': [tweet.created_at for tweet in all_tweets],
})
df['created_at'] = pd.to_datetime(df['created_at'], errors='coerce').dt.date.astype(str)

df.head()

,text,name,created_at
0,@FatimaAyoubi005 @WazhmaAyoubi @NilofarAyoubi روز مادر مبارک ❤️,nabizada2_sahar,2023-05-14
1,@FarhatRahman13 روز مادر خجسته باد !,nabizada2_sahar,2023-05-14
2,سک نگاه خنداری به گرگ کرد وگفت،،،آهویت را ربودم،،، آیا بازهم میگویی گرگ ها برترند؟؟؟\nتواگر عرضه داشتی آهویت را حفظ میکردی...!!!\nگرگ،لبخندی زد وگفت ،،،\nمن (خدای) غرورم\nرقیب ببینم نمیجنگم...\nپا روی عشق واحساسم میگذارم ومیدان را خالی میکنم ، آهوی که به سگ چشمک بزند !!! \nلیاقت ندارد… https://t.co/w0ZQgRLVLl https://t.co/ti2K2wO0tp,nabizada2_sahar,2023-05-14
3,@Ehsanullah369 @WHaidaryar 😁,nabizada2_sahar,2023-05-13
4,برای داشتن زندگی بامعنا باید برای چیزی بیشتر از خویشتن زیست. برای داشتن زندگی معنادار باید دلیلی در کار باشد؛ ‌دلیل و هدفی که جانمان به آن گره می‌خورد و ما را در پیچ‌وتاب‌های مسیر زندگی به پیش می‌راند ...,nabizada2_sahar,2023-05-13

In [81]:
df.shape

(3240, 3)

##### Remove everything before ":"

In [82]:
# df['text'] = df['text'].astype(str)
# df['text'] = df['text'].str.split(':').str[0].str.strip()

In [83]:
pd.set_option('display.max_colwidth', None)

In [84]:
df.sample(5)

,text,name,created_at
335,@Sheerkh43343680 😁,nabizada2_sahar,2023-04-14
2273,@QaniEsmat خفه شو انسان کثیف,nabizada2_sahar,2022-10-05
1425,@sumaiafrotan @zala_zazai @womenaidafghan1 @MassoudaKohist3 @KabuliOld @Faridas34354709 @fariza_akbari @GheyasiYasamin @thedaoudnaji @mohammad_nateqi @MalikYeganeh روح شان شاد !,nabizada2_sahar,2022-12-08
1900,دو سال از حادثه خونین در دانشگاه کابل گذشت. \n\nدر دوم نوامبر ۲۰۲۰ مهاجمان مسلح داخل محوطه دانشگاه کابل شده و ساعت‌ها خون ریختاندند.\n\nدرین حادثه جوانان نازنین و دانشجویان فهیم پَر پَر شدند. https://t.co/gjXAI9udF5,nabizada2_sahar,2022-11-02
2043,@JamilQadery ترا والله ؟؟,nabizada2_sahar,2022-10-18

In [85]:
import re

def remove_emoji(text):
    """Remove emojis from a text string."""
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    text = emoji_pattern.sub(r'', text)
    text = text.replace('\n', ' ')
    return emoji_pattern.sub(r'', text)


df['text'] = df['text'].str.strip()# remove spaces
# Example usage
df['text'] =df['text'].apply(remove_emoji)

In [86]:
df.dropna(subset=['text'], inplace=True)
df.drop_duplicates(subset=['text'], inplace=True)

In [87]:
df.tail(5)

,text,name,created_at
3235,در این سرای بی کسی، کسی به در نمی زند به دشت پر ملال ما پرنده پر نمی زند سایه رفت. در گذشت هوشنگ ابتهاج اسطوره شعر فارسی را به همه فارسی زبانان تسلیت عرض میدارم #هوشنگ_ابتهاج https://t.co/TzyCfRtjYA,nabizada2_sahar,2022-08-10
3236,@Maryam_111110 @fightforpeople3 به این ها سویتفاهم شده مام بودم د اسپیس,nabizada2_sahar,2022-08-09
3237,@AlinejadMasih خرفان و حماقت است جان نزد ما امانت است وقت خاک به امانت خیانت نمیکند انسان عاقل چطور می‌تواند خیانت به جان خود کند .,nabizada2_sahar,2022-08-09
3238,قشر که هیچ گاه تسلیم شدن را نمی پذیرد! یک بانو در شهر فیض‌آباد، مرکز ولایت بدخشان با هزینه شخصی خود یک کارگاه صنایع دستی را برای دختران که از رفتن به مکتب محروم اند، ایجاد کرده است. https://t.co/dwgm03qVqZ,nabizada2_sahar,2022-08-09
3239,در بزم هنر اهل سیاست چه نشینند میخانه دگر جایگه فتنه گران نیست,nabizada2_sahar,2022-08-09

##### Add Gender and Ethnic

In [88]:
if 'gender' not in df.columns:
    df['gender'] = ''
if 'ethnic' not in df.columns:
    df['ethnic'] = ''

In [89]:
df.loc[df['gender'] == '', 'gender'] = 'female'
df.loc[df['ethnic'] == '', 'ethnic'] = 'tajik'

In [90]:
df.head(5)

,text,name,created_at,gender,ethnic
0,@FatimaAyoubi005 @WazhmaAyoubi @NilofarAyoubi روز مادر مبارک,nabizada2_sahar,2023-05-14,female,tajik
1,@FarhatRahman13 روز مادر خجسته باد !,nabizada2_sahar,2023-05-14,female,tajik
2,سک نگاه خنداری به گرگ کرد وگفت،،،آهویت را ربودم،،، آیا بازهم میگویی گرگ ها برترند؟؟؟ تواگر عرضه داشتی آهویت را حفظ میکردی...!!! گرگ،لبخندی زد وگفت ،،، من (خدای) غرورم رقیب ببینم نمیجنگم... پا روی عشق واحساسم میگذارم ومیدان را خالی میکنم ، آهوی که به سگ چشمک بزند !!! لیاقت ندارد… https://t.co/w0ZQgRLVLl https://t.co/ti2K2wO0tp,nabizada2_sahar,2023-05-14,female,tajik
3,@Ehsanullah369 @WHaidaryar,nabizada2_sahar,2023-05-13,female,tajik
4,برای داشتن زندگی بامعنا باید برای چیزی بیشتر از خویشتن زیست. برای داشتن زندگی معنادار باید دلیلی در کار باشد؛ ‌دلیل و هدفی که جانمان به آن گره می‌خورد و ما را در پیچ‌وتاب‌های مسیر زندگی به پیش می‌راند ...,nabizada2_sahar,2023-05-13,female,tajik

In [91]:
df.shape

(3135, 5)

In [92]:
from deep_translator import GoogleTranslator 
from googletrans import Translator

In [93]:
translator = Translator()
df["text"] = df["text"].apply(lambda x: GoogleTranslator(source="auto", target="en").translate(x))

In [94]:
df.sample(5)

,text,name,created_at,gender,ethnic
2810,@SofiaSo19560372 @mobeenkhan1231 you are the punishment for being a shameless bitch,nabizada2_sahar,2022-09-09,female,tajik
681,"@h_radfar Intellect does not accept repetition, but feeling, yes, nature also likes repetition. . .",nabizada2_sahar,2023-03-19,female,tajik
1511,"@RohullR Good luck, the leader of every province of Afghanistan is love.",nabizada2_sahar,2022-12-02,female,tajik
485,"RT @nasiri_tahera: We want the release of these cultural and civil activists from Talib prison. For those who strive for the progress, civilization and prosperity of the country...",nabizada2_sahar,2023-04-04,female,tajik
1401,@ArashYaqin when the show is over You see the real face of people! But the end of a show does not mean the end of the exhibition,nabizada2_sahar,2022-12-11,female,tajik

In [95]:
df.shape

(3135, 5)

In [96]:
df.to_excel('../data/women_ordinary_people/nabizada2_sahar.xlsx', index=False)
# GhaniHashmat