In [1]:
import pandas as pd

In [24]:
data = pd.read_excel('../data_processed/education.xlsx')

In [25]:
keywords = ['education', 'educate', 'educational', 'school', 'university', 'women']
data_keywords = pd.DataFrame(columns=data.columns)
data.dropna()

In [26]:
data_keywords = pd.DataFrame(columns=data.columns)
data.dropna()

,text,name,created_at,gender,ethnic
0,true education can only save afghanistan the l...,ahmadjavid,2017-06-11,male,pashtun
1,afghan education officials should be ashamed f...,ahmadjavid,2017-06-14,male,pashtun
2,first afghan woman nominated to serve in the s...,ahmadjavid,2016-02-02,male,pashtun
3,afghan women are hero untill now stands for th...,ahmadjavid,2017-04-04,male,pashtun
4,such beautiful video showing power of the litt...,ahmadjavid,2022-09-26,male,pashtun
...,...,...,...,...,...
132555,day spanish defense minister maria margarita r...,Ziayoulhaq Amarkhil,2019-04-24,male,pashtun
132556,afghanistan government never allow gender di...,Ziayoulhaq Amarkhil,2019-04-24,male,pashtun
132557,private schools are viding good education for...,Ziayoulhaq Amarkhil,2019-04-23,male,pashtun
132558,parental demand people day additionally meetin...,Ziayoulhaq Amarkhil,2019-04-14,male,pashtun
132559,every individual day corresponds with the elev...,Ziayoulhaq Amarkhil,2019-04-13,male,pashtun

In [27]:
data.shape

(132620, 5)

In [28]:
for keyword in keywords:
    data_keyword = data[data['text'].str.contains(keyword , na=False)]
    data_keywords = pd.concat([data_keywords, data_keyword], ignore_index=True)

In [29]:
data_keywords.head()

,text,name,created_at,gender,ethnic
0,true education can only save afghanistan the l...,ahmadjavid,2017-06-11,male,pashtun
1,afghan education officials should be ashamed f...,ahmadjavid,2017-06-14,male,pashtun
2,first afghan woman nominated to serve in the s...,ahmadjavid,2016-02-02,male,pashtun
3,such beautiful video showing power of the litt...,ahmadjavid,2022-09-26,male,pashtun
4,no justice no value for women in lawless afgha...,ahmadjavid,2021-05-06,male,pashtun

In [30]:
data.shape

(132620, 5)

In [31]:
data_keywords.to_excel('../data_processed/only_education.xlsx', index=False)