In [63]:
import pandas as pd

In [161]:
df = pd.read_excel('../data_processed/education.xlsx')

In [162]:
df.shape

(321358, 6)

In [171]:

# def drop_rows_short_words(df, column, min_word_length=1):
#     df = df[~df[column].apply(lambda x: isinstance(x, str) and any(len(word) < min_word_length for word in x.split()))]
#     return df
# # Call the function with your DataFrame and column name
# df = drop_rows_short_words(df, 'text', min_word_length=1)

0         enemy taliban friend women liberty freedom edu...
1         precisely taliban afraid literate women litera...
2         since taliban took power issued thirty six edi...
3         afghan government taliban leadership know deal...
4         happened women common anywhere world school op...
                                ...
321353    said remember names fought tell weapon fight b...
321354    amrullahsaleh kind conscience defend ashraf gh...
321355          yaqubyasna saleh know anything called shame
321356    taliban built museum kabul kept types explosiv...
321357    today turkey allowing city vandan afghanistan ...
Name: text, Length: 321358, dtype: object

In [173]:
df.shape

(321358, 6)

In [125]:
df.sample(10)

,text,name,created_at,gender,ethnic,label
41421,name god abhors disturbance peace two thousand...,Shaista Sadat Lameh,2020-06-22 00:00:00,female,pashtun,1
217222,ministry disaster management says floods kille...,NajmaZala,2019-04-29,female,pashtun,1
302896,caravan helmandi peace seekers gather today fr...,sharifamiry1,2018-08-12 090451,male,tajik,1
313939,literature people suppoers taliban extremely c...,thedaoudnaji,2021-04-16,male,pashtun,1
285634,agreed establish institutional mechanisms econ...,JananMosazai,2015-09-15 102017,male,pashtun,1
70403,tajudensoroush stoptajikgenocide stop,AmiriMarooo,2022-10-19,female,tajik,0
128443,taliban take districts source income provide s...,SuhrabSirat,2021-07-04,male,tajik,0
277568,men represent women gathering national unity s...,BBCYaldaHakim,2022-07-09 180717,female,tajik,1
73074,massoudiyem never wear symbol slavery head reb...,assia_jasoor,2022-10-11,male,tajik,0
14163,acknowledge tweet letter email received regard...,Rana Azad,2022-10-16 00:00:00,male,pashtun,1

In [126]:
df.dropna(inplace=True)
df.dropna(axis=1, inplace=True)

In [127]:
print(df.duplicated().sum())

0

In [128]:
df.drop_duplicates(inplace=True)

In [129]:
df.shape

(321378, 6)

In [160]:
df.to_excel('../data_processed/education11.xlsx', index=False)